<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ajax_rumus">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".registerActivity"></activity>
        <activity android:name=".registrasi" />
        <activity android:name=".mainmenu" />
        <activity android:name=".updaterumusActivity" />
        <activity android:name=".detailbangundatarActivity" />
        <activity android:name=".daftarrumusActivity" />
        <activity android:name=".buatrumusActivity" />
        <activity
            android:name=".LingkarangActivity"
            android:label="@string/lingkaran" />
        <activity
            android:name=".SegitigaActivity"
            android:label="@string/segitiga" />
        <activity
            android:name=".PersegiActivity"
            android:label="@string/persegi" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.ajax_rumus.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>